{% include 'emails/partials/_head.html' %}
{% include 'emails/partials/_header.html' %}

<p>¡Hola {{ user_name }}!</p>
<p>Notamos que comenzaste tu registro en CERCAPP, pero aún no lo has completado. Nos alegra mucho tu interés en hacer crecer tus ingresos y dar el primer paso hacia tu libertad financiera.</p>
<p>¿Tuviste alguna dificultad para finalizar el proceso? Estamos aquí para ayudarte. Puedes escribirnos directamente a este correo; con gusto te asistiremos.</p>
<p>CERCAPP está diseñada para ayudarte a generar ganancias a través del <b>interés compuesto</b>, invirtiendo tus aportes en proyectos rentables y seguros. Imagina ver cómo tu dinero trabaja para ti, sin esfuerzo.</p>
<div class="button-container">
    <a href="https://app.cercapp.us/" class="button">Culminar mi registro</a>
</div>
<p>¡No esperes más! Concluye tu registro hoy mismo y comienza a disfrutar de los beneficios de CERCAPP.</p>
<p>¡Te esperamos!</p>
<p>El equipo de CERCAPP</p>      

{% include 'emails/partials/_footer.html' %}
