{% include 'emails/partials/_head.html' %}
{% include 'emails/partials/_header.html' %}

<p>¡Hola {{ user_name }}!</p>
<p>Notamos que iniciaste tu registro en CERCAPP, ¡y estamos muy emocionados por tu interés en hacer crecer tus ingresos!</p>
<p>CERCAPP está diseñada para ayudarte a generar ganancias a través del <b>interés compuesto</b>, invirtiendo tus aportes en proyectos rentables y seguros. Imagina ver cómo tu dinero trabaja para ti, sin esfuerzo.</p>
<p>Sabemos que a veces surgen imprevistos, pero ¡estás a solo un paso de comenzar a construir un futuro financiero más sólido!</p>
<p>¿Hubo alguna dificultad para completar tu registro? Nos encantaría ayudarte. Responde a este correo o visita nuestra sección de ayuda en la app.</p>
<p>¡No esperes más! Concluye tu registro hoy mismo y comienza a disfrutar de los beneficios de CERCAPP.</p>
<p>¡Te esperamos!</p>
<p>El equipo de CERCAPP</p>

<a href="https://app.cercapp.us/" class="button">Quiero culminar mi registro</a>

{% include 'emails/partials/_footer.html' %}
