{% include 'emails/partials/_head.html' %}
{% include 'emails/partials/_header.html' %}

<p>¡Hola {{ user_name }}!</p>
<p>Queremos darte la bienvenida a CERCAPP. ¡Estamos encantados de tenerte con nosotros!</p>
<p>Ya diste el primer gran paso al registrarte, y ahora estás a las puertas de una experiencia financiera transformadora. En CERCAPP, tu dinero no se queda quieto: lo invertimos en <b>proyectos diversos y seguros</b> para que el <b>interés compuesto</b> trabaje a tu favor, generando ingresos constantes.</p>
<p>Mucha gente ya está viendo cómo sus aportes se multiplican. ¿Por qué esperar para que el tuyo también lo haga?</p>
<p>Es el momento perfecto para realizar tu primer aporte y comenzar a construir el camino hacia una mayor estabilidad y libertad financiera. Recuerda que no necesitas ser un experto para empezar; nuestra app te guiará en cada paso.</p>
<p>¡Haz tu primer aporte hoy mismo y comienza a ver la diferencia!</p>
<p>¡Saludos!</p>
<p>El equipo de CERCAPP</p>

<a href="https://app.cercapp.us/" class="button">Quiero hacer mi primer aporte</a>

{% include 'emails/partials/_footer.html' %}