{% include 'emails/partials/_head_sf.html' %}
{% include 'emails/partials/_header_sf.html' %}

<p>¡Hola {{ user_name }}!</p>
<p>Sabemos que tomar la decisión de transformar tus finanzas no es algo que hagas a la ligera. Cada paso, cada pregunta, cada duda que hayas tenido después del webinar <i>"Finanzas Quirúrgicas"</i> es importante para nosotros, porque detrás de ellas hay una historia, metas por cumplir y un futuro que merece ser construido con las herramientas adecuadas.</p>
<p>Por eso, como agradecimiento por habernos permitido ser parte de este viaje, queremos entregarte algo más que una simple guía. <strong>"Rompiendo Creencias Limitantes y Abrazando la Riqueza"</strong> es un mapa, una brújula para empezar a navegar esas aguas profundas donde el dinero deja de ser un misterio y se convierte en tu aliado. <a href="https://drive.google.com/file/d/1MJrJwunzUT_bFOhSsF_EKZIHfz275uoe/view?usp=sharing">Descárgala aquí</a>.</p>
<p>Pero hoy, también necesitamos de ti. No para venderte algo, sino para escucharte genuinamente. Porque cada <i>"no"</i>, cada duda, cada pregunta sin responder es una oportunidad para nosotros de mejorar, de ajustar el rumbo y ofrecerte exactamente lo que necesitas para dar ese salto que tanto deseas.</p>
<p><strong>¿Cómo puedes ayudarnos?</strong></p>
<p>Imagina que estamos sentados frente a un café, hablando sin prisas. Queremos saber:</p>
<ul>
    <li>¿Qué momento del webinar hizo algo como un <i>clic</i> en tu mente?</li>
    <li>¿Hubo algo que te dejó con más preguntas que respuestas?</li>
    <li>¿Qué fue lo que, al final del día, te hizo pensar <i>"todavía no es el momento"</i>?</li>
</ul>
<p>Puedes contárnoslo directamente respondiendo este correo, o si prefieres, <a href="https://www.drsaludfinanciera.com/survey/dd366bad-48da-4f3c-b9ed-ccc064de2e38/95c91337-ca60-4327-ba61-b69efded0325">completar esta breve encuesta</a> donde podrás expresarte con total libertad. </p>
<p>Si lo que necesitas es una conversación más personal, <a href="https://www.drsaludfinanciera.com/book/c6d6cd5e">agenda 15 minutos gratis aquí</a>. Sin compromisos, sin presiones. Solo una charla honesta para ayudarte a clarificar tus próximos pasos.</p>
<p>Este no es el final de tu viaje, {{ user_name }}. Es solo el comienzo de una conversación que podría cambiar todo.</p>
<br>
{% include 'emails/partials/_firma_sf.html' %}
{% include 'emails/partials/_footer_sf.html' %}