    </div>
</div>
<div class="footer">
    <div id="social-media" class="social-media-container">
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
            <table align="center" style="text-align: center;">
                <tr>
                    <td>
                        <a href="https://www.facebook.com/cercappofficial/" title="¡Visítanos en facebook!">
                            <img src="http://imgfz.com/i/ND9yFIJ.png" class="social-media-img" alt="¡Visítanos en facebook!"></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://www.instagram.com/cercapp_oficial/" title="¡Visítanos en Instagram!">
                            <img src="http://imgfz.com/i/TcuePgN.png" class="social-media-img" alt="¡Visítanos en Instagram!"></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://www.linkedin.com/company/107417278" title="¡Visítanos en Linkedin!">
                            <img src="http://imgfz.com/i/iQ47Bt6.png" class="social-media-img" alt="¡Visítanos en Linkedin!">
                    </td>
                </tr>
            </table>
        </table>
    </div>
    <div class="content">
        <h2>CERCAPP: ¡ACERCA TU FUTURO!</h2>
        <p>
            Ten cuidado con los sitios de phishing y asegúrate de que siempre estés en nuestro sitio web oficial web.cercapp.us cuando ingreses datos confidenciales. Valoramos tu privacidad y no compartimos tu dirección de correo electrónico con nadie más sin tu permiso. Consulta nuestra <a href="https://web.cercapp.us/politicas-de-privacidad">Política de privacidad</a> para obtener más información sobre cómo procesamos los datos.
        </p>
        <p>
            Para más información sobre las regulaciones y aspectos legales de Cercapp, consulta nuestros <a href="https://web.cercapp.us/terminos-y-condiciones">Términos y condiciones</a> o visita nuestra sección de <a href="https://web.cercapp.us/preguntas-frecuentes">Preguntas frecuentes</a>.
        </p>
        <p>&copy; 2025 CERCApp. Todos los derechos reservados.</p>
        <p><a href="https://web.cercapp.us">web.cercapp.us</a></p>
    </div>
</div>