    </div>
</div>
<div class="footer">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
                <table align="center" style="text-align: center;">
                    <tr>
                        <td>
                            <a href="https://www.facebook.com/doctorsaludfinanciera" title="¡Visítanos en facebook!">
                                <img src="http://imgfz.com/i/ND9yFIJ.png" width="5%" height="" style="margin:0; padding:0; border:none;" border="0" alt="¡Visítanos en facebook!"></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="https://www.instagram.com/dr.saludfinanciera/" title="¡Visítanos en Instagram!">
                                <img src="http://imgfz.com/i/TcuePgN.png" width="5%" height="" style="margin:0; padding:0; border:none;" border="0" alt="¡Visítanos en Instagram!"></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="https://www.linkedin.com/in/carlos-rodriguez-9b3b046/" title="¡Visítanos en Linkedin!">
                                <img src="http://imgfz.com/i/iQ47Bt6.png" width="5%" height="" style="margin:0; padding:0; border:none;" border="0" alt="¡Visítanos en Linkedin!">
                        </td>
                    </tr>
                </table>
            </table>
    <h2>Tienes el poder de crear la vida que deseas vivir.</h2>
    <p>&copy; 2025 Dr Salud Financiera. Todos los derechos reservados.</p>
    <p><a href="https://www.drsaludfinanciera.com">www.drsaludfinanciera.com</a></p>
</div>